@page
@model ZealandKantine.Pages.Menu.IndexModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>
<div class="menu-grid">
@if (Model.TodaysSpecial != null && Model.TodaysSpecial.IsActive)
{
    <div class="daily-special">
        <h3>Dagens ret</h3>
        <p>@Model.TodaysSpecial.Description</p>
        <p>@Model.TodaysSpecial.Price?.ToString("0.00") kr.</p>
    </div>
}
</div>


<div class="menu-grid">
@foreach (var group in Model.Items.GroupBy(m => m.Category))
{
    <div class="menu-category">
    <h2>@group.Key</h2>
    @foreach (var item in group)
    {
        <div class="menu-item">
            <h3>@item.Name</h3>
            <p>@item.Price.ToString("0.00") kr.</p>
        </div>        
    }
    </div>
}
    @{
        if (User.IsInRole("Admin"))
        {
            <a asp-page="/Menu/Create" class="btn btn-primary">
                Opret nyt menupunkt
            </a>

            <a asp-page="/Menu/Delete" class="btn btn-danger">
                Slet menupunkt
            </a>
        }
}
</div>