@page
@model ZealandKantine.Pages.Menu.IndexModel
@{
    ViewData["Title"] = "Menu";
}

@* <style>
    .menu-item {
        text-align: center;
    }
</style> *@

<h1>Menu</h1>
@if (Model.TodaysSpecial != null)
{
    <div class="daily-special">

        <h2>🍽️ Dagens Ret</h2>

        <p>
            @Model.TodaysSpecial.Description
        </p>

        <div class="daily-special-price">
            @Model.TodaysSpecial.Price kr.
        </div>

    </div>
}


<div class="menu-grid">
@foreach (var group in Model.Items.GroupBy(m => m.Category))
{
    <div class="menu-category">
    <h2>@group.Key</h2>
    @foreach (var item in group)
    {
        <div class="menu-item">
            <h3>@item.Name</h3>
            <p>@item.Price.ToString("0.00") kr.</p>
        </div>        
    }
    </div>
}

@{
    if (User.IsInRole("Admin"))
    {
        <a asp-page="/Menu/Create" class="btn btn-primary">
            Opret nyt menupunkt
        </a>
    
         <a asp-page="/Menu/Delete"
           class="btn btn-danger">
            Slet Menupunkt
        </a>            

        <a asp-page="/DailySpecialPages/Create"
           class="btn btn-warning">
            Opret dagens ret
        </a>            
    }
}
</div>