@page
@model ZealandKantine.Pages.Menu.IndexModel
@{
    ViewData["Title"] = "Menu";
}



<h1>Menu</h1>
@if (Model.TodaysSpecial != null)
{
    <div class="daily-special">

        <h2>Dagens Ret</h2>

        <p>
            @Model.TodaysSpecial.Description
        </p>

        <div class="daily-special-price">
            @Model.TodaysSpecial.Price kr.
        </div>

    </div>
}


<div class="menu-grid">
@foreach (var group in Model.Items.GroupBy(m => m.Category))
{
    <div class="menu-category">
    <h2>@group.Key</h2>
    @foreach (var item in group)
    {
                <div class="menu-item" style="position: relative; padding-bottom: 3.5rem;">
                    <span class="menu-item__category">@item.Category</span>
                    <h3 class="menu-item__name">@item.Name</h3>
                    <p class="menu-item__price">@item.Price.ToString("0.00")</p>
        </div>        
    }
    </div>
}


</div>